<h1>Addition Function</h1>
<%= form_tag 'result' do %>
First  Number:
<%= text_field_tag 'a'%><br/><br>

Second Number:
<%= text_field_tag 'b'%><br/><br/>
<%= submit_tag 'Calculate' %><br/>

<% end %>
